---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=3&location=pueblo%20co&open_at=1564414406&term=restaurants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer RsVtG-tdCfphyg1Q-iV1MtLV0qNaAOJP6nBqQdYPevlYGBhnuTIsVkbOGwzIK1eLJ1c9a6ki_JlqqpAepe9fTWC3ovVNoLJxTTxJvj2JP85RPnynD8dxt8iWcgc_XXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4992'
      Ratelimit-Resettime:
      - '2019-07-30T00:00:00+00:00'
      X-Zipkin-Id:
      - 88649b3fe3076d63
      X-Proxied:
      - 10-69-140-124-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "TJTZuf8hdm2SpqrCKV5n9A", "alias": "brues-alehouse-pueblo-3",
        "name": "Brues Alehouse", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/K4xXqhF4wguJ5JZVTgmWCw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/brues-alehouse-pueblo-3?adjust_creative=r-siyzVnUWn0GAv15Cv_yg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=r-siyzVnUWn0GAv15Cv_yg",
        "review_count": 299, "categories": [{"alias": "breweries", "title": "Breweries"},
        {"alias": "tradamerican", "title": "American (Traditional)"}, {"alias": "musicvenues",
        "title": "Music Venues"}], "rating": 4.0, "coordinates": {"latitude": 38.2654120794923,
        "longitude": -104.609714939094}, "transactions": [], "price": "$$", "location":
        {"address1": "120 Riverwalk Pl", "address2": "", "address3": "", "city": "Pueblo",
        "zip_code": "81003", "country": "US", "state": "CO", "display_address": ["120
        Riverwalk Pl", "Pueblo, CO 81003"]}, "phone": "+17199249670", "display_phone":
        "(719) 924-9670", "distance": 3220.6660506639014}, {"id": "0Kzu5Sv1_liiiHpbFc6FlQ",
        "alias": "the-hangar-pueblo", "name": "The Hangar", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/x04Ooefr88PuB1vlCIVp9g/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/the-hangar-pueblo?adjust_creative=r-siyzVnUWn0GAv15Cv_yg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=r-siyzVnUWn0GAv15Cv_yg",
        "review_count": 65, "categories": [{"alias": "tradamerican", "title": "American[...]
