---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&limit=3&location=pueblo,co&open_at=1564414406&term=restaurants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer YELP-API-KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4956'
      Ratelimit-Resettime:
      - '2019-07-30T00:00:00+00:00'
      X-Zipkin-Id:
      - eb3adcfa95389f1e
      X-Proxied:
      - 10-64-66-176-uswest1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "c7zEc16iJa4_hoNLkhts8w", "alias": "yellow-mountain-tea-house-colorado-springs",
        "name": "Yellow Mountain Tea House", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/XRUjvww-zh8qCoPx4rh38Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/yellow-mountain-tea-house-colorado-springs?adjust_creative=r-siyzVnUWn0GAv15Cv_yg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=r-siyzVnUWn0GAv15Cv_yg",
        "review_count": 171, "categories": [{"alias": "tea", "title": "Tea Rooms"},
        {"alias": "dimsum", "title": "Dim Sum"}], "rating": 4.5, "coordinates": {"latitude":
        38.8486853, "longitude": -104.864644}, "transactions": [], "price": "$", "location":
        {"address1": "2616 W Colorado Ave", "address2": "Ste 21", "address3": "",
        "city": "Colorado Springs", "zip_code": "80904", "country": "US", "state":
        "CO", "display_address": ["2616 W Colorado Ave", "Ste 21", "Colorado Springs,
        CO 80904"]}, "phone": "+17192478487", "display_phone": "(719) 247-8487", "distance":
        69115.13234470016}, {"id": "wKb2ITmSRYN6I7Py14YPUA", "alias": "panda-express-pueblo",
        "name": "Panda Express", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/x0Bgoyf2t0yGK6EhiEedqQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/panda-express-pueblo?adjust_creative=r-siyzVnUWn0GAv15Cv_yg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=r-siyzVnUWn0GAv15Cv_yg",
        "review_count": 21, "categories": [{"alias": "chinese", "title"[...]
