---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?accuracy=11&api_key=FLIKR-API-KEY&content_type=1&extras=url_l&format=json&lat=37.8267&lon=-122.4233&media=photos&method=flickr.photos.search&nojsoncallback=1&page=1&per_page=1&safe_search=1&tags=snow,clouds,sun,lake,nature,winter,trees
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":26990,"perpage":1,"total":"26990","photo":[{"id":"48419726941","owner":"160768218@N08","secret":"1ee59aedab","server":"65535","farm":66,"title":"Blue
        life","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/48419726941_1ee59aedab_b.jpg","height_l":"1024","width_l":"683"}]},"stat":"ok"}'
  recorded_at: Wed, 31 Jul 2019 15:49:12 GMT
recorded_with: VCR 5.0.0
