---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?accuracy=11&api_key=FLIKR-API-KEY&content_type=1&extras=url_l&format=json&lat=37.8267&lon=-122.4233&media=photos&method=flickr.photos.search&nojsoncallback=1&page=1&per_page=1&safe_search=1&tags=snow,clouds,sun,lake,nature,winter,trees
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":26973,"perpage":1,"total":"26973","photo":[{"id":"48376437716","owner":"136284917@N04","secret":"1a301f5270","server":"65535","farm":66,"title":"Bridge
        of Dreams 3","ispublic":1,"isfriend":0,"isfamily":0,"url_l":"https:\/\/live.staticflickr.com\/65535\/48376437716_1a301f5270_b.jpg","height_l":"683","width_l":"1024"}]},"stat":"ok"}'
  recorded_at: Mon, 29 Jul 2019 14:37:44 GMT
recorded_with: VCR 5.0.0
